body{
    background-color: #eeeeee;
}
h2{
    padding-bottom: 10px;
}

input{
    width: 100%;
}
.alert-top{
    margin-top: 10px;
}
.center {
    margin: 50px auto;
    width: 300px;
    padding: 10px;
    text-align: center;
}

