html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}


/* MAIN ------------------------------------------------------- */
.m-main-content{
    height: 150%;
}


/* page list group teacher */
.m-display-type{
    font-size: 24px;
    margin-bottom: 15px;
}
#list-group-teacher{
    position: relative;
    background-color: #eeeeee;
}
#list-group-teacher:hover{
    background-color: #f5f5f5;
}
.list-group-teacher-1{
    background-color: #fff244;
}
.list-group-teacher-1-2{
    background-color: #b6eeb2;
}
.list-group-teacher-1-3{
    background-color: #eecae6;
}
.list-group-teacher-1-4{
    background-color: #b6ddf4;
}
.m-course-name{
    color: black;
    padding: 5px 10px;
}
.m-group-name{
    color: black;
    padding: 1px 10px;
}
.m-subgroup-name{
    position: absolute;
    top: 45px;
    right: 10px;
    font-size: 20px;
}
.m-fullname-name{
    padding: 1px 10px 10px 10px;
}

/* page settings */
.m-settings-label{
    margin-top: 20px;
}
.m-settings-bot{
    margin-bottom: 100px;
}


/* TABLE ------------------------------------------------------ */
/* student */
.m-table-stud-num{
    float: right;
    color: #81d782;
}
.m-table-stud-count{
    color: #81d782;
    font-size: 10px;
}

/* mark - Header */
.m-table-headline{
    padding: 1px 10px;
    border: 1px solid #f1f1f1;
}
.m-table-headline-g{
    padding-left: 10px;
    font-weight: bold;
}
.m-table-headline-s{
    padding-left: 10px;
    color: darkgrey;
}
.m-table-headline-p{
    margin-left: 20px;
}
.m-table-headline-m{
    display: none;
    margin-left: 20px;
    padding: 0px 5px 0px 5px;
}
#table-student-mark th:hover{
    border-bottom-color: black;
}
.disable-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.m-table-h-month{
    color: grey;
    border-top: 1px solid grey;
}
.m-table-active-cell{
    background-color: #e9e9e9;
}

/* lessons type */
.m-table-type-1{
    background-color: white;
}
.m-table-type-2{
    background-color: #dfe8c9;
}
.m-table-type-3{
    background-color: #e5fcd9;
}
.m-table-type-4{
    background-color: #fff9d4;
}
.m-table-type-5{
    background-color: #fff9d4;
}
.m-table-type-6{
    background-color: #ffd6e4;
}
.m-table-nb{
    color: #1439ff;
    font-weight: bold;
}
.m-table-nb-n{
    color: #1439ff;
    font-weight: bold;
}
.m-table-mark2{
    color: red;
    font-weight: bold;
}

/* --- Main content --- */

/* list student */
.m-table-container{
    position: relative;
}
.m-table-student-list{
    position: absolute;
    left: 0px;
    width: 300px;
}
.m-tr-center{
   text-align: center;
}
.m-table-mark-scrolling{
    position: absolute;
    left: 300px;
    width: 300px;
    overflow-x: auto;
}

/* NEW DATE --- */
.m-box-add-new-date{
    display: none;
    position: absolute;
    top: 35px;
    right: 15px;
    width: 250px;
    height: 200px;
    background-color: white;
    border: 1px solid #d6d6d6;
    -moz-box-shadow: -1px 2px 2px #8d8d8d;
    -webkit-box-shadow: -2px 2px 2px #8d8d8d;
    box-shadow: -1px 2px 2px #8d8d8d;
}
.m-add-new-date-header{
    background-color: #eeeeee;
    color: grey;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
}
.m-lesson-input-box{
    margin: 15px 5px;
}
.m-add-new-lesson-input{
    height: 30px;
    font-size: 16px;
    width: 100%;
}
.m-add-new-date-input{
    font-size: 16px;
    margin-bottom: 20px;
}
.add-new-date-ok-cancel{
    width: 100px;
    margin-left: 5px;
    margin-right: 5px;
}

/* attention */
.m-attention-new-date{
    position: absolute;
}


/* Message ----------------------------------------------------- */
.m-textarea-message{
    width: 100%;
    resize: none;
    font-size: 18px;
    height: 150px;
}
.m-message-text{
    margin: 10px 0px;
    padding: 5px;
}
.m-list-message{
    max-height: 800px;
    overflow: auto;
}

/* FOOTER ------------------------------------------------------- */
.footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    border-top: 1px solid #dfdfdf;
    background-color: #f5f5f5;
    text-align: center;
    /*
    margin-top: 20px;
    width: 100%;
    height: 40px;
    border-top: 1px solid #dfdfdf;
    background-color: #f5f5f5;
    padding: 10px;
    */
}
.f-info{
    text-align: right;
}